body {
    background: rgb(171, 171, 69);
}
h1, p{
    text-align: center;
    padding: 30px ;
}
h4 {
    text-align: center;
    padding-bottom: 40px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

footer {
    text-align: center;
}

footer {
    text-align: center;
}
footer a {
    margin: 0 10px;
   
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
    color: green;
}
.container {
    width: 300px;
    height: 600px;
    background: bisque;
}
.img-croissant {
    width: 100%;
    display: flex;
    justify-content: center;
}